name: Azure Backup Vault - Multi Platform
trigger:
  batch: true
  branches:
    include:
      - master
      - main

resources:
  repositories:
    - repository: cnp-azuredevops-libraries
      type: github
      ref: refs/heads/master
      name: hmcts/cnp-azuredevops-libraries
      endpoint: 'hmcts'
    - repository: cppAzureDevOpsTemplates
      type: github
      ref: refs/heads/main
      name: hmcts/cpp-azure-devops-templates
      endpoint: 'hmcts'

parameters:
  - name: overrideAction
    type: string
    default: plan
    values:
      - plan
      - apply

  - name: environment_components
    type: object
    default:
      # CNP environments
      - deployment: "cnp_prod"
        environment: 'prod'
        component: 'cnp'
        service_connection: 'DCD-CNP-Prod'
        product: 'mgmt'
        varfileName: 'cnp'
        dependsOn: 'Precheck'

variables:
  - name: timeoutInMinutes
    value: 60
  - name: agentPool
    value: ubuntu-latest
  - name: terraformInitSubscription
    value: 04d27a32-7a07-48b3-95b8-3c8691e1a263
  - name: cppPlatform
    value: live
  - name: cppEnvironment
    value: cpp-prod
  - name: cppAgentPool
    value: MPD-ADO-AGENTS-01
  - name: cppTfVersion
    value: 1.14.4
  - name: cppAzureServiceConnection
    value: ado_live_workload_identity
  - name: cppVaultAdminCredentialsVarGroup
    value: cpp-live-vault-admin
  - name: cppTfVars
    value: ../../environments/cpp-prod/cpp.tfvars
  - name: cppDir
    value: components/cpp
  - name: cppWorkspace
    value: cpp-prod
  - template: vars/input-variables.yaml@cnp-azuredevops-libraries

stages:
  - stage: Precheck
    jobs:
      - job: Precheck
        pool:
          vmImage: ${{ variables.agentPool }}
        timeoutInMinutes: ${{ variables.timeoutInMinutes }}
        steps:
          - ${{ if eq(parameters.environment_components[0].component, 'cnp') }}:
            - template: steps/terraform-precheck.yaml@cnp-azuredevops-libraries
              parameters:
                keyvaultName: 'infra-vault-nonprod'
                keyvaultSecret: 'azure-devops-sp-token'
                serviceConnection: 'DCD-CFT-Sandbox'
                overrideAction: ${{ parameters.overrideAction }}
          - ${{ if ne(parameters.environment_components[0].component, 'cnp') }}:
            - checkout: self
              fetchDepth: 0
            - script: |
                echo "Pre-check completed successfully"
              displayName: 'Pre-check'

  - ${{ each deployment in parameters.environment_components }}:
      - stage: ${{ deployment.deployment }}
        dependsOn: ${{ deployment.dependsOn }}
        jobs:
          - job: TerraformPlanApply
            pool:
              vmImage: ${{ variables.agentPool }}
            timeoutInMinutes: ${{ variables.timeoutInMinutes }}
            steps:
              - ${{ if eq(deployment.component, 'cnp') }}:
                - template: steps/terraform.yaml@cnp-azuredevops-libraries
                  parameters:
                    overrideAction: ${{ parameters.overrideAction }}
                    environment: ${{ deployment.environment }}
                    component: ${{ deployment.component }}
                    serviceConnection: ${{ deployment.service_connection }}
                    terraformInitSubscription: ${{ variables.terraformInitSubscription }}
                    product: ${{ deployment.product }}
                    tfVarsFile: $(System.DefaultWorkingDirectory)/$(buildRepoSuffix)/environments/${{deployment.environment}}/${{ deployment.varfileName }}.tfvars

  - stage: cpp_precommit
    displayName: CPP Precommit
    pool:
      name: ${{ variables.cppAgentPool }}
    jobs:
      - job: cpp_precommit
        steps:
          - checkout: self
            fetchDepth: 0
          - template: steps/terraform/terraform-precommit.yaml@cppAzureDevOpsTemplates
            parameters:
              tfversion: ${{ variables.cppTfVersion }}

  - template: pipelines/terraform-ws-plan-and-apply.yaml@cppAzureDevOpsTemplates
    parameters:
      tfversion: ${{ variables.cppTfVersion }}
      azureServiceConnection: ${{ variables.cppAzureServiceConnection }}
      vaultAdminCredentialsVarGroup: ${{ variables.cppVaultAdminCredentialsVarGroup }}
      platform: ${{ variables.cppPlatform }}
      environment: ${{ variables.cppEnvironment }}
      agentPool: ${{ variables.cppAgentPool }}
      dir: ${{ variables.cppDir }}
      terraformWorkspaceName: ${{ variables.cppWorkspace }}
      tfvars: ${{ variables.cppTfVars }}
      displayNamePrefix: "CPP"
      planDependsOn: cpp_precommit
