name: Azure Backup Vault - CPP
trigger:
  batch: true
  branches:
    include:
      - master

resources:
  repositories:
  - repository: cppAzureDevOpsTemplates
    type: github
    name: hmcts/cpp-azure-devops-templates
    ref: 'main'
    endpoint: 'hmcts'

parameters:
  - name: tfversion
    default: 1.14.4
  - name: agentPool
    default: "MPD-ADO-AGENTS-01"
  - name: platform
    default: "live"
  - name: environment
    default: "cpp-prod"
  - name: targetResources
    default: null

variables:
- template: azure-pipeline-variables/${{ parameters.platform }}.yml

stages:
  - stage: precommit
    pool:
      name: ${{ parameters.agentPool }}
    jobs:
      - job: pre
        condition: eq(variables['Build.Reason'], 'PullRequest')
        steps:
          - template: steps/terraform/terraform-precommit.yaml@cppAzureDevOpsTemplates
            parameters:
              tfversion: ${{ parameters.tfversion }}

  - ${{ if eq(variables['Build.Reason'], 'Manual') }}:
    - template: pipelines/terraform-ws-plan-and-apply.yaml@cppAzureDevOpsTemplates
      parameters:
        tfversion: ${{ parameters.tfversion }}
        azureServiceConnection: ${{ variables.azureServiceConnection }}
        vaultAdminCredentialsVarGroup: ${{ variables.vaultAdminCredentialsVarGroup }}
        platform: ${{ parameters.platform }}
        environment: ${{ parameters.environment }}
        agentPool: ${{ parameters.agentPool }}
        targetResources: ${{ parameters.targetResources }}
        dir: components/cpp
        tfvars: ../../environments/prod/cpp.tfvars
        terraformWorkspaceName: cpp-prod
        displayNamePrefix: CPP
